body {
  background-color: #f0efef;
}

.container-game-list {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  margin: 5rem 10rem;
  gap: 30px;
}

.container-game-list a {
  text-decoration: none;
  color: black;
}

@media (max-width: 1200px) {
  .container-game-list {
    display: flex;
    flex-direction: column;
    margin: 1rem;
    padding: 0;
  }
}

@media (max-width: 800px) {
  .MuiCard-root {
    height: auto !important;
  }
}

@media (max-width: 500px) {
  .MuiCardMedia-root {
    height: 300px !important;
  }

  .MuiTypography-root {
    line-height: 1 !important;
  }
}
