.rightS img {
  padding-left: 100px;
  width: 60vw;
}

.app-container {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  background-color: #ffff;
}

.signin {
  padding-top: 20px;
  color: #a7a7a7;
}

.logoo {
  display: flex;
  justify-content: first baseline;
  align-items: center;
  margin-bottom: 40px;
  width: 140px;
}
.create {
  font-size: 70px;
}

@media screen and (max-width: 1200px) {
  .app-container {
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  .logoo {
    margin-bottom: 40px;
    width: 120px;
  }

  .create {
    font-size: 50px;
  }

  .rightS img {
    display: none;
  }
}

@media screen and (max-width: 850px) {
  .app-container {
    padding: 10px 10px;
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
    max-width: 300%;
  }

  .logoo {
    display: flex;
    justify-content: first baseline;
    align-items: center;
    margin-bottom: 40px;
    width: 110px;
  }

  .create {
    font-size: 40px;
  }

  .rightS img {
    width: 100%;
    max-width: 300%;
    padding-right: 15vw;
    margin-bottom: 10px;
  }
}

@media screen and (max-width: 550px) {
  .app-container {
    padding: 20px 20px;
  }
  .logoo {
    display: flex;
    justify-content: first baseline;
    align-items: center;
    margin-bottom: 40px;
    width: 70px;
  }

  .create {
    font-size: 30px;
  }

  .rightS img {
    display: none;
  }
}
