.header {
  width: 100%;
  margin-top: 2rem;
  border-radius: 1rem;
  padding-left: 10rem;
  display: flex;
  justify-content: space-between;
}

.header .text {
  font-size: 2.5rem;
  text-transform: uppercase;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  line-height: 2rem;
  font-weight: bold;
}

@media only screen and (max-width: 768px) {
  .header {
    padding-left: 1rem;
  }
  .header .text {
    font-size: 1.5rem;
  }
}
