.container-profile {
  display: flex;
  justify-content: center;
  width: 100vw;
  margin-top: 10vh;
}
.container-35 {
  display: flex;
  flex-direction: column;
  width: 35vw;
  margin: 2vh;
  box-sizing: border-box;
}
.container-40 {
  display: flex;
  flex-direction: column;
  width: 40vw;
  margin: 1.5vh;
  padding: 1.5vh 0;
  box-sizing: border-box;
}

.profileimg {
  width: 45vw;
  margin-top: 2vw;
}

.r-u-sure {
  margin-bottom: -9px;
  text-align: center;
  font-size: 20px;
  font-weight: bold;
  width: 400px;
}

@media screen and (max-width: 1200px) {
  .container-profile {
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  .container-35 {
    width: 70vw;
  }
  .logoo {
    margin-bottom: 40px;
    width: 120px;
  }

  .profile {
    font-size: 50px;
  }

  .profileimg {
    display: none;
  }
}
@media screen and (max-width: 850px) {
  .container-profile {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
    max-width: 300%;
  }
  .container-40 {
    margin: 1vh;
    padding: 1.5vh 0;
    margin-right: 15vh;
  }
  .logoo {
    display: flex;
    justify-content: first baseline;
    align-items: center;
    margin-bottom: 40px;
    width: 110px;
  }

  .profile {
    font-size: 40px;
  }

  .profileimg {
    width: 65vw;
    max-width: 300%;
    margin-bottom: 10px;
  }
}

@media screen and (max-width: 550px) {
  .container-profile {
    padding: 0px 20px;
  }
  .logoo {
    display: flex;
    justify-content: first baseline;
    align-items: center;
    margin-bottom: 40px;
    width: 70px;
  }

  .profile {
    font-size: 30px;
  }

  .profileimg {
    display: none;
  }
}
