.container-games {
  position: relative;
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
  background-color: #f0efef;
  padding-bottom: 15rem;
  height: 600px;
  margin: 1rem 10rem;
  justify-content: center;
  border-radius: 10px;
  box-shadow: 0px 2px 1px -1px rgba(0, 0, 0, 0.2),
    0px 1px 1px 0px rgba(0, 0, 0, 0.14), 0px 1px 3px 0px rgba(0, 0, 0, 0.12);
}

.game {
  display: flex;
  margin-top: 50px;
  flex-wrap: nowrap;
  align-items: center;
  margin-top: 15rem;
}
.game__you {
  display: flex;
  flex-direction: column;
  margin-right: 2.5rem;
  align-items: center;
}
.game__you .text {
  text-transform: uppercase;
  font-size: 1.2rem;
  font-weight: 300;
  margin-bottom: 2.5rem;
  font-weight: bold;
}
.game__you .icon {
  height: 250px;
  width: 250px;
  border-radius: 50%;
  border-color: transparent;
  border: 25px solid;
  background-size: 50%;
  transform: none !important;
}
.game__you .icon--paper {
  background-color: #fff;
  background-image: url("../../../assets/kertas.png");
  background-position: center;
  background-repeat: no-repeat;
  border-color: #5551ff;
  transform: none !important;
}
.game__you .icon--paper--winner {
  border-color: #5aff51;
}
.game__you .icon--scissors {
  background-color: #fff;
  background-image: url("../../../assets/gunting.png");
  background-position: center;
  background-repeat: no-repeat;
  border-color: #5551ff;
}
.game__you .icon--scissors--winner {
  border-color: #5aff51;
}
.game__you .icon--rock {
  background-color: #fff;
  background-image: url("../../../assets/batu.png");
  background-position: center;
  background-repeat: no-repeat;
  border-color: #5551ff;
}
.game__you .icon--rock--winner {
  border-color: #5aff51;
}
.game__play {
  display: flex;
  flex-direction: column;
  margin: 0 2rem;
}
.game__play .text {
  text-transform: uppercase;
  font-size: 3rem;
  font-weight: 700;
  margin-bottom: 10px;
}
.game__play .text__win {
  text-transform: uppercase;
  font-size: 3rem;
  font-weight: 700;
  margin-bottom: 10px;
  color: #5aff51;
}
.game__play .text__lose {
  text-transform: uppercase;
  font-size: 3rem;
  font-weight: 700;
  margin-bottom: 10px;
  color: #ff5151;
}
.game__play .play-again {
  background-color: #fbff51;
  text-decoration: none !important;
  text-transform: uppercase;
  padding: 10px 20px;
  border-radius: 5px;
  font-size: 0.8rem;
  font-weight: bold;
}
.game__play .play-again:hover {
  color: red;
}
.game__com {
  display: flex;
  flex-direction: column;
  margin-left: 2.5rem;
  align-items: center;
}
.game__com .text {
  text-transform: uppercase;
  font-size: 1.2rem;
  font-weight: 300;
  margin-bottom: 2.5rem;
  font-weight: bold;
}
.game__com .icon {
  height: 250px;
  width: 250px;
  border-radius: 50%;
  border-color: transparent;
  border: 25px solid;
  background-size: 50%;
  transform: none !important;
}
.game__com .icon--paper {
  background-color: #fff;
  background-image: url("../../../assets/kertas.png");
  background-position: center;
  background-repeat: no-repeat;
  border-color: #5551ff;
}
.game__com .icon--paper--winner {
  border-color: #5aff51;
}
.game__com .icon--scissors {
  background-color: #fff;
  background-image: url("../../../assets/gunting.png");
  background-position: center;
  background-repeat: no-repeat;
  border-color: #5551ff;
}
.game__com .icon--scissors--winner {
  border-color: #5aff51;
}
.game__com .icon--rock {
  background-color: #fff;
  background-image: url("../../../assets/batu.png");
  background-position: center;
  background-repeat: no-repeat;
  border-color: #5551ff;
}
.game__com .icon--rock--winner {
  border-color: #5aff51;
}
.game__com .counter {
  height: 250px;
  width: 250px;
  border-radius: 50%;
  background-color: #5551ff;
  color: #2f2e41;
  font-size: 8rem;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

@media only screen and (max-width: 768px) {
  .container-games {
    margin: 1rem 1rem;
    padding-bottom: 10rem;
  }

  .game {
    flex-direction: column;
    margin-top: 15rem;
  }

  .game__you {
    margin-right: 0;
  }

  .game__you .icon {
    height: 100px;
    width: 100px;
    border: 10px solid;
    border-color: #5551ff;
  }

  .game__you .icon--paper--winner {
    border-color: #5aff51;
  }

  .game__you .icon--scissors--winner {
    border-color: #5aff51;
  }

  .game__you .icon--rock--winner {
    border-color: #5aff51;
  }

  .game__you .text {
    margin-bottom: 1rem;
  }

  .game__play {
    margin: 1rem 2rem 0 2rem;
  }

  .game__play .text {
    font-size: 2rem;
  }

  .game__play .text__win {
    font-size: 2rem;
  }

  .game__play .text__lose {
    font-size: 2rem;
  }

  .game__com {
    margin-left: 0;
  }

  .game__com .icon {
    height: 100px;
    width: 100px;
    border: 10px solid;
    border-color: #5551ff;
  }

  .game__com .icon--paper--winner {
    border-color: #5aff51;
  }

  .game__com .icon--scissors--winner {
    border-color: #5aff51;
  }

  .game__com .icon--rock--winner {
    border-color: #5aff51;
  }

  .game__com .text {
    margin-bottom: 1rem;
    margin-top: 1rem;
  }

  .game__com .counter {
    height: 100px;
    width: 100px;
    font-size: 3rem;
  }
}
