body {
  background-color: #e7f2f8;
}

.container-gd {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  margin: 5rem 10rem;
  gap: 30px;
}

.container-gd a {
  text-decoration: none;
  color: white;
}

body.active-modal {
  overflow-y: hidden;
}

.modal,
.overlay {
  width: 100vw;
  height: 100vh;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  position: fixed;
}

.overlay {
  background: rgba(49, 49, 49, 0.8);
}

.modal {
  display: grid;
  place-items: center;
}

.modal-content {
  margin-top: 3%;
  position: absolute;
  top: 40%;
  left: 50%;
  transform: translate(-50%, -50%);
  line-height: 1.4;
  background: #f1f1f1;
  padding: 14px 28px;
  border-radius: 3px;
  max-width: 85%;
  min-width: 65%;
}

.close-modal {
  position: absolute;
  top: 10px;
  right: 10px;
  padding: 5px 7px;
  color: white;
}

@media (max-width: 1200px) {
  .container-gd {
    display: flex;
    flex-direction: column;
    margin: 1rem;
    padding: 0;
  }
}

@media (max-width: 500px) {
  .MuiTypography-root {
    font-size: 1.5rem !important;
  }
}

@media (max-width: 414px) {
  .MuiTypography-root {
    font-size: 1rem !important;
    width: 80%;
  }
}
