.about-container {
  display: flex;
  justify-content: center;
  width: 100vw;
}
.container-35 {
  display: flex;
  flex-direction: column;
  width: 35vw;
  margin: 1.5vh;
  box-sizing: border-box;
  margin-top: 100px;
}
.container-40 {
  display: flex;
  flex-direction: column;
  width: 40vw;
  margin: 1.5vh;
  padding: 1.5vh 0;
  box-sizing: border-box;
  margin-top: 200px;
}
h1 {
  font-size: 5vw;
  margin: 2vh 0;
}
p {
  margin: 1.5vh 0;
  font-size: 16px;
}
li {
  margin: 0 3vh;
  font-size: 14px;
}
.aboutus {
  width: 45vw;
}
.contactus {
  background-color: black;
  color: white;
  margin-top: 3vh;
  padding: 8px;
}

@media screen and (max-width: 1200px) {
  .about-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 8vh;
  }
  .container-35 {
    width: 55vw;
  }

  .h1 {
    font-size: 50px;
  }

  .aboutus {
    display: none;
  }
}
