.container-lp {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: 3rem 10rem;
  gap: 30px;
}

.container-lp-2 {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: 2rem 10rem;
  gap: 30px;
  flex-grow: 1;
}

.container-lp-image {
  width: 50%;
  max-width: 50%;
}

.container-lp-image img {
  width: 100%;
}

.gametitle {
  text-decoration: none;
}

@media screen and (max-width: 1200px) {
  .container-lp {
    flex-direction: column-reverse;
  }

  .container-lp-image {
    max-width: 100%;
  }

  .container-lp-image img {
    height: auto;
  }
}

@media (max-width: 800px) {
  .container-lp {
    display: flex;
    flex-direction: column;
    margin: 1rem;
    padding: 0;
  }

  .container-lp-2 {
    display: flex;
    flex-direction: column;
    margin: 1rem;
    padding: 0;
  }

  .MuiGrid-item {
    width: 100% !important;
  }

  .MuiCard-root {
    height: 300px !important;
  }

  .MuiCardMedia-root {
    height: 300px !important;
  }

  .MuiTypography-root {
    font-size: 2.5rem !important;
  }

  .MuiButton-root {
    width: 1rem !important;
  }

  .MuiBox-root {
    width: 90% !important;
  }
}

@media screen and (max-width: 500px) {
  .MuiCard-root {
    width: 100%;
    height: auto !important;
  }
}
