.img-container {
  display: flex;
  flex-direction: column;
  width: 150px;
  margin: 1.5vh;
  padding: 1.5vh 0;
  box-sizing: border-box;
  margin-top: 30px;
}

.notfound-container {
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
  padding: 1vh;
  margin-top: 22vh;
}

.btn-container {
  margin-top: 20px;
}
